@charset "UTF-8";

.totalBalance {

  .balance {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .buyCurrency {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    color: #6b7280;
  }
}

.coinCurrency {
  display: flex;
  flex-direction: column;

  > h3 {
    font-weight: 700;
    font-size: 20px;
    color: #0A8FDC;
  }

  > p {
    font-size: 14px;
    color: #6b7280;
  }

}