@charset "UTF-8";

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;

  .side {
    padding: 20px 0;
    width: 280px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px -5px, rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px;

    > h2 {
      font-weight: 500;
      font-size: 24px;
      text-align: center;
    }

    ul, li {
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      height: 40px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

    }

  }
}

.drawerOpen {
  display: block;
}