@charset "UTF-8";
@import '../../assets/scss/mixins/mixins';

.menu {

}

.title {
  margin-left: 16px;
  flex-grow: 1;
  font-weight: 500;
  font-size: 0;

  @include responsive(sm) {
    font-size: 20px;
  }

}